<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='../style/style.css'>
<style>
body{
	font-family: 'Roboto', sans-serif;
}

</style>
</head>
<body style="background-image:url(../img/blue-triangles.png)">

  <div class="imgcontainer">
    <img src="../img/Logo Transparent.png" alt="PlanIt Logo" class="img" style="width:500px;height:225px;">
  </div>

<form class="box" action="/action_page.php">

  <div class="container">
    <label for="email"><b>Email:</b></label>
    <input type="email" placeholder="Enter email address" name="username" required>
    <br>
    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter password" name="password" required>

    <button type="submit">Login</button>

	<p align="center">Don't have an account? <a href="#" onclick="window.location.href='registration.html'">Sign up!</a></p>
  </div>
</form>
<font align="left" size="-1.5">Joshua Paup, Sage Garrett, Ryan Than, Sarah Schwallier ©</font>

</body>
</html>
