<!DOCTYPE html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Register</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel='stylesheet' type='text/css' href='../style/style.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body style="background-image:url(../img/blue-triangles.png)">
	<div class="signup-form">
		<form>
			<h2>Welcome to PlanIt!</h2>
			<p class="hint-text">Fill out the form below to create your free account.</p>

			<label for="email"><b>Email:</b></label>
			<div class="form-group">
        		<input type="email" class="form-control" name="email" placeholder="Email" required="required">
			</div>
			<label for="password"><b>Password:</b></label>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Password" required="required">
			</div>
			<label for="confirm_password"><b>Re-Enter Password:</b></label>
			<div class="form-group">
				<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
			</div>
			<label for="dropdown"><b>Security Question</b></label>
			<div>
				<select name="dropdown" class="dropdown" required="required">
					<option>Security Question</option>
					<option value="question1">What was the name of the road you grew up on?</option>
					<option value="question2">What was the name of your first pet?</option>
					<option value="question3">What city were you born in?</option>
					<option value="question4">What is your father's middle name?</option>
				</select>
			</div>
			<p></p>
			<p></p>
			<label for="security_answer"><b>Security Answer:</b></label>
			<div class="form-group">
				<input type="security_answer" class="form-control" name="security_answer" placeholder="Security Answer" required="required">
			</div>
			<div class="form-group">
				<button type="submit">Register</button>
			</div>
			<p class="text-center">Already have an account? <a href="#" onclick="window.location.href='login.html'">Log in!</a></p>
		</form>
	</div>
	<font align="left" size="-1.5">Joshua Paup, Sage Garrett, Ryan Than, Sarah Schwallier ©</font>
</body>
</html>
